@model AcTimer.ViewModels.CategoryFilterViewModel

@using (Html.BeginForm("Index", "Categories",FormMethod.Get))
{
    <div class="form-inline">
        <hr />
        <div class="row">
            <div class="col-lg-3">
                <h4>Filter</h4>
            </div>

            <div class="col-lg-3">
                <select class="form-control" id="userId" name="userId">
                    <option value="">Users</option>
                    @foreach (var item in Model.ApplicationUsers)
                {
                        <option value="@item.Id">@item.UserName</option>
                    }
                </select>
            </div>

            <div class="col-lg-3">
                <input class="form-control" id="DateAdded" type="text" name="date" placeholder="Date" />
            </div>


            <div class="col-lg-3">
                <input type="submit" class="btn btn-default form-control" value="Filter" />
            </div>

        </div>
    </div>

}



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(function () {
        $('#DateAdded').datetimepicker({
            format: "MM.DD.YYYY"
        }).on('dp.change', function (e) {
            $(this).data('DateTimePicker').hide();
        });
    });
</script>