@model AcTimer.ViewModels.CategoryFilterViewModel

@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="userId" name="userId">
                <option value="">Users</option>
                @{
                    var x = Model.ApplicationUsers.Single(u => u.UserName.Equals(HttpContext.Current.User.Identity.Name));
                }

                <option value="@x.Id">@x.UserName</option>

            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="DateAdded" type="text" name="date" placeholder="Date" />
        </div>


        <div class="col-md-4">
            <input type="submit" class="btn btn-default form-control" value="Filter" />
        </div>
    </div>
                    }
<hr />



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(function () {
        $('#DateAdded').datetimepicker({
            format: "MM.DD.YYYY"
        }).on('dp.change', function (e) {
            $(this).data('DateTimePicker').hide();
        });
    });
</script>