@model AcTimer.ViewModels.CategoryFilterViewModel

<hr />
@using (Html.BeginForm("Dashboard", "Categories", FormMethod.Get))
{

    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="userId" name="userId">
                <option value="">Users</option>
                @foreach (var item in Model.ApplicationUsers)
                {
                    <option value="@item.Id">@item.UserName</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="date" type="text" name="date" placeholder="Date" />
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-default form-control" value="Filter" />
        </div>
    </div>
    <hr />


}



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#date').datetimepicker({
            format: "MM.DD.YYYY"
        }).on('dp.change', function (e) {
            $(this).data('DateTimePicker').hide();
        });
    });
</script>
