@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<hr />
<address>
   <p><strong>Address :</strong>Cluj-Napoca, Cluj, Romania</p> 
</address>
<hr />
<address>
    <p><strong>Contact Name :</strong> Pacurar Corneliu </p>
    <strong>Support:</strong>   <a href="mailto:p.corneliu95@gmail.com">p.corneliu95@gmail.com</a><br />
</address>